extends layout 

block content 

    h1 #{title}: #{bookinstance._id}
    p Book: #{bookinstance.book.title}
    p Imprint: #{bookinstance.imprint}
    p Status: 
        if bookinstance.status=='Available'
            span.text-success #{bookinstance.status}
        else if bookinstance.status=='Maintenance'
            span.text-danger #{bookinstance.status}
        else
            span.text-warning #{bookinstance.status}

    if bookinstance.status!='Available'
        p Due back: #{bookinstance.due_back_formatted}

    hr
    p Do you really want to delete this BookInstance?

    form(method='POST')
        div.form-group 
            input#bookinstanceid.form-control(type='hidden' name='bookinstanceid', value=bookinstance._id)
        
        button.btn.btn-primary(type='submit') Delete